.menu {
  display: block;
  width: 25px;
  height: 4px;
  background: var(--color-fourth);
  border: 0;
  border-radius: 2px;
  position: relative;
}

.menu::before,
.menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 4px;
  left: 0;
  top: 8px;
  background: var(--color-fourth);
  border-radius: 2px;
}

.menu::after {
  top: 16px;
}
